# Core requirements
opencv-python-headless>=4.5.0
opencv-contrib-python-headless>=4.5.0
flask==2.3.3
flask-cors==4.0.0
redis>=4.0.0
mysql-connector-python>=8.0.0
numpy>=1.20.0
schedule>=1.0.0
persiantools>=2.0.0
requests>=2.25.0

# AWS SDK for S3 (Liara)
boto3==1.28.62
botocore==1.31.62

blinker==1.6.2
click==8.1.7
colorama==0.4.6
Flask-Cors==4.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
pytz==2023.3
Werkzeug==2.3.7
async_timeout==4.0.3
pyopenssl==23.2.0
cryptography==41.0.3
# دیگر نیازی به نصب dlib به این روش نیست (در صورت نیاز به صورت جداگانه نصب شود)
face_recognition_models==0.3.0
# نصب مستقیم dlib با وابستگی‌های کامپایل شده (در صورت نیاز)
dlib==19.24.1
face-recognition==1.3.0
pillow==10.0.1
paramiko>=2.10.0